@model EYC.UI.Web.Models.Home.IndexViewModel

@if (null != Model.RetailerCharges)
{
	<div class="row">
		<div class="col-md-12">
			@Html.DisplayFor(x => x.RetailerCharges)
		</div>
	</div>
}

<div class="row">
	<div class="col-md-12">
		<fieldset>
			<legend>Get retailer charges for supplier</legend>
			@using (Html.BeginForm(MVC.Home.ActionNames.GetSubTextPositions, MVC.Home.Name, FormMethod.Post))
			{
				@Html.EditorFor(x => x.RetailerChargesForm)
				<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Submit</button>
				<button type="button" class="btn btn-default" data-type="clear"><i class="glyphicon glyphicon-ban-circle"></i> Clear</button>
			}
		</fieldset>
	</div>
</div>
